<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>我的房源</string>
        <key>imgName</key>
        <string>我的房源</string>
        <key>index</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>重新验证</string>
        <key>imgName</key>
        <string>重新验证</string>
        <key>index</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>开通会员</string>
        <key>imgName</key>
        <string>开通会员</string>
        <key>index</key>
        <integer>2</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>我的钱包</string>
        <key>imgName</key>
        <string>我的钱包</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>客户库</string>
        <key>imgName</key>
        <string>客户库</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>客户预约</string>
        <key>imgName</key>
        <string>客户预约</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>抢房源</string>
        <key>imgName</key>
        <string>抢房源</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>个人资料</string>
        <key>imgName</key>
        <string>个人资料</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>增值服务</string>
        <key>imgName</key>
        <string>增值服务</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>咨询广告</string>
        <key>imgName</key>
        <string>咨询广告</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>自动回复</string>
        <key>imgName</key>
        <string>自动回复</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
</array>
</plist>
