<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>整租</string>
        <key>imgName</key>
        <string>整租</string>
        <key>index</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>合租</string>
        <key>imgName</key>
        <string>合租</string>
        <key>index</key>
        <integer>1</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>我要出租</string>
        <key>imgName</key>
        <string>我要出租</string>
        <key>index</key>
        <integer>2</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>找室友</string>
        <key>imgName</key>
        <string>找室友</string>
        <key>index</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>个人房源</string>
        <key>imgName</key>
        <string>个人房源</string>
        <key>index</key>
        <integer>4</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>论坛</string>
        <key>imgName</key>
        <string>论坛</string>
        <key>index</key>
        <integer>5</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>贷款计算</string>
        <key>imgName</key>
        <string>贷款计算</string>
        <key>index</key>
        <integer>6</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>找经纪人</string>
        <key>imgName</key>
        <string>找经纪人</string>
        <key>index</key>
        <integer>7</integer>
    </dict>
</array>
</plist>
